<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.eclipse.vjet.target" sequenceNumber="20">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.batik.css" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.ccil.cowan.tagsoup" version="1.2.0.v201202211000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.4.1.v201208170345-7H7GFeFDxumUpsw5rgjWnKDrsz0p4ymwjQz00T2S"/>
<repository location="http://download.eclipse.org/webtools/repository/juno/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.2.1.M20120914-1800"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
</target>
